 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 

*{
    margin: 0;padding: 0;
    font-family: 'lato' ;

}
footer{
    height: 12vh;
    background-color: #2874f0;
    font-style:normal;
    color: white;
     font-family: 'lato' ;
     margin: 20px 0 0 0;
    

}

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.logo{
    background-color: #00FF00;
    display: inline-block;
justify-content: start;
    color: white;
    height: 75px;
    width: 272px;
}
header nav ul li{
    display :inline;
    /* width: 15vh; */
    /* height: 15vh; */
    /* background-color: black; */
    padding: 10px  ;
    /* list-style: none; */
    
    
}
header ul li a{
    text-decoration: none;
    color: white;
}
header{
    display: inline;
    background-color: #17de04;
    width: 10vh;
}
head{
    background-color: #17de04;
}
header nav ul{
    display: flex;
    /* justify-content: center; */
    background-color: #2874f0;
    /* height: 40px; */
    padding: 10px;
    
}
nav{
    display: flex;
    width: 100vw;
    background-color: #2874f0;
}
.logo img{
    margin: 8px 20px;
    padding: 4px;
}
.container{
    min-height: Calc(100vh - 75px - 12vh);
}
header nav ul li a:hover{
    font-weight: bolder;
    /* font-weight: bold; */
}
.search {
    display: flex;
    align-items: center;
    height: 62px;
    width: 35vw;
  }

.search input{
    display: flex;
    width: 482px;
    height: 26px;
    border-radius: 5px;
    margin: 49px 15px 49px 49px;
  }
 .slider
    {
        margin: auto;
        display: flex;
        justify-content: center;
        /* overflow: scroll; */
      }
.card{
    background-color: white;
    /* height: 300px; */
    display: flex;
    margin: 20px -11px 0 109px;
    max-width: 80vw;
justify-content: center;
/* overflow: scroll; */

}
.card-Item{
    margin: 20px -54px -15px 90px;
    display: inline-flex;
justify-content: center;
flex-direction: column;
    
}
.lines{
    display: inline-block;
    margin: 8px 3px 10px 26px;

}
.lines p{
    margin: 2px;
}
/* @media (max-width:900px) {
    body{
        background-color:red;
        /* display: none; */
    /* }
    }    */
