.text-center {
    text-align: center;
}

.btn{
    height: 26px;
    color: white;
    background-color: #2874f0;
    border-radius: 2px;
    padding: 3px;
    margin: 1px;
    border: 2px solid white;
    cursor: pointer;
}
.btn :hover{
    font-weight: bolder;
  }
  